
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Select start Values</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
  <ion-item>
    <ion-label>X<span style="color:red;">*</span> :</ion-label>
    <ion-select   placeholder="Select X" (ionChange)="onchangeX($event)">
      <ion-select-option value="0">0</ion-select-option>
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Y<span style="color:red;">*</span> :</ion-label>
    <ion-select  placeholder="Select Y"  (ionChange)="onchangeY($event)">
      <ion-select-option value="0">0</ion-select-option>
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Face Direction<span style="color:red;">*</span> : </ion-label>
    <ion-select  placeholder="Select Direction" (ionChange)="ondirectionChange($event)">
      <ion-select-option value="1">North</ion-select-option>
      <ion-select-option value="3">South</ion-select-option>
      <ion-select-option value="4">West</ion-select-option>
      <ion-select-option value="2">East</ion-select-option>
    </ion-select>
  </ion-item>
<ion-button color="primary" (click)="placeRobot()"  expand="full">Place Robot</ion-button>



</ion-content>