<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Toy-Robot Simulator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <app-place-action (actionClick)="actionClicked($event);"></app-place-action>
 <div class="ion-text-center">
 <app-step-track-action [actionType]="actionTypes.Move" (actionClick)="actionClicked($event);"></app-step-track-action>
 <app-step-track-action [actionType]="actionTypes.Left" (actionClick)="actionClicked($event);"></app-step-track-action>
 <app-step-track-action [actionType]="actionTypes.Right" (actionClick)="actionClicked($event);"></app-step-track-action>
 <app-step-track-action [actionType]="actionTypes.Report" (actionClick)="actionClicked($event);"></app-step-track-action>

</div>
 <div *ngIf="actionService.actions.length>0" class="ion-text-center">
  <ion-button color="primary" (click)="executeActionClick()">Perform Actions</ion-button>
 <h3>Action List</h3>
 <ion-grid>
  <ion-row *ngFor="let action of actionService.actions;let i = index">
      <ion-col>
          <div>
            {{i+1}}.  {{actionTypes[action.actionType]}}
          </div>
      </ion-col>
  </ion-row>
</ion-grid>
</div>
<div *ngIf="actionService.reports.length>0" class="ion-text-center">
 <h3>Report List</h3>
 <ion-grid>
  <ion-row *ngFor="let report of actionService.reports">
      <ion-col>
          <div>
              {{report}}
          </div>
      </ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>
