<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <app-place-action (commandClick)="commandClicked($event);"></app-place-action>
 <app-step-track-action [commandType]="actionTypes.Move" (commandClick)="commandClicked($event);"></app-step-track-action>
 <app-step-track-action [commandType]="actionTypes.Left" (commandClick)="commandClicked($event);"></app-step-track-action>
 <app-step-track-action [commandType]="actionTypes.Right" (commandClick)="commandClicked($event);"></app-step-track-action>
 <app-step-track-action [commandType]="actionTypes.Report" (commandClick)="commandClicked($event);"></app-step-track-action>
 <ion-button color="primary" (click)="executeClick()">Execute</ion-button>
 <h3>Command List</h3>
 <ion-grid>
  <ion-row *ngFor="let command of actionService.commands">
      <ion-col>
          <div>
              {{actionTypes[command.commandType]}}
          </div>
      </ion-col>
  </ion-row>
</ion-grid>
 <h3>Report List</h3>
 <ion-grid>
  <ion-row *ngFor="let report of actionService.reports">
      <ion-col>
          <div>
              {{report}}
          </div>
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
